body {
  background-color: grey;
  background-image: url(2ae5e304293fdf7bdbaf18efcfc8b431.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; }

.buttonStyle {
  background-color: #19B3E6;
  color: #FFF;
  font-size: 1.8em; }

